.header-component {
  background: linear-gradient(135deg, #1e1e2f, #121212);
  color: #ddd;
}

.header-component {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-logo {
    width: 2.5rem;
}

.header-feature a {
    text-decoration: none;
    color: #ddd;
}

a {
  position: relative;
  text-decoration: none;    /* bỏ gạch chân mặc định */
  color: #ddd;
  font-weight: 500;         /* mặc định bình thường */
  transition: all 0.3s ease; /* mượt cho chữ */
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;              /* cách chữ một chút */
  width: 0%;
  height: 2px;
  background-color: #ddd; /* màu xanh (Bootstrap primary) */
  transition: width 0.3s ease;
}

a:hover {
  font-weight: 600;          /* chữ đậm khi hover */
  color: #ddd;            /* đổi màu chữ cho nổi bật */
}

a:hover::after {
  width: 100%;               /* hiệu ứng gạch chân chạy ngang */
}
